<div class="uk-navbar-left" style="user-select: none;">
  <a class="uk-navbar-item uk-logo uk-text-bold" href="/">{{site.title}}</a>
</div>
<div class="uk-navbar-right">
  <ul class="uk-navbar-nav"style="user-select: none;">
    <li class="uk-active">
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="/works">
        Works
      </a>
    </li>
    <li>
      <a href="/articles">
        Articles
      </a>
    </li>
      <li><a href="/contact">
        Contact
      </a>
    </li>
  </ul>
</div>