---
layout: base
---
<div class="cp-page-header">
  <div class="uk-container uk-container-xlarge cp-lh-0">
    <h3 class="inside-cp-header uk-text-bold">{{page.title}}</h3>
    <p class="inside-cp-header-subt uk-text-bold">
      作成日：{{ page.date| date: "%Y年%m月%d日"  }}
      &nbsp;
      {% if page.date %}
      最終更新日：{{ page.upddate| date: "%Y年%m月%d日"  }}
      {% endif %}
    </p>
    {% if site.tags %}
    Tags:
      {% for tag in site.tags %}
        <a href="{{site.baseurl}}/tags#{{tag[0]}}" class="uk-badge">{{tag[0]}}</a>
      {% endfor %}
    {% endif %}
  </div>
</div>
<div style="height:2em;"></div>
<div class="uk-container uk-container-xlarge cp-lh-1">
  {{ content }}
</div>
<div style="height:2em;"></div>

